<div class="row">
  <div class="col-md-6">
    <h2>Customer Info</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="firstName" />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" />
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city" />
      </div>
      <div class="form-group">
        <button (click)="next()" class="btn btn-default">Next</button>
      </div>
    </form>
  </div>
</div>
