<div class="row">
  <div class="col-md-6">
    <h2>Contact Info</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" formControlName="phone" />
      </div>
      <div class="form-group">
        <button (click)="next()" class="btn btn-default">Next</button>
      </div>
    </form>
  </div>
</div>
